---
import Layout from "../layouts/Layout.astro";
import TeamLayout from "../layouts/TeamLayout.astro";
import "../assets/styles/index.scss";
---

<Layout title="HomePages">
  <section class="main">
    <div class="container">
      <header class="header">
        <nav class="navigation">
          <ul class="navigation__list">
            <li>Участиники</li>
            <li>Галерея</li>
            <li>Новости</li>
            <li>Выставка</li>
            <li>Документы</li>
            <li>Партнеры</li>
          </ul>
          <span class="navigation__underline"></span>
        </nav>
      </header>
      <!--<h1 class="main__title">сибирский рубежъ</h1> -->
      <div class="main__title">
        <img src="/src/assets/image/title.png" alt="" width="1200px" />
      </div>
      <div class="br"></div>
      <div class="content__main">
        <div class="left__content">
          <div class="left__textOne">
            Военно историчейский Клуб "Сибирский рубежъ"
          </div>
          <div class="left__textTwo">
            Военно историчейский Клуб "Сибирский рубежъ" занимается углубленным
            изучением истории Войн нашей страны
          </div>
        </div>

        <div class="center__content">
          <img
            src="/src/assets/image/solider.png"
            alt=""
            style="position: absolute; z-index: 1;"
          />
        </div>

        <div class="right__content">
          <div class="btn__play">
            <a href="">
              <img
                src="/src/assets/image/play_btn.png"
                alt=""
                width="30px"
                height="35px"
              />
            </a>
          </div>
          <div class="btn-play__title">смотреть видео</div>
        </div>
      </div>
    </div>
  </section>

  <section class="about">
    <div class="container">
      <div class="about-us">
        <div class="about__activity">
          <div class="activity__block">
            <img
              class="activity__icon"
              src="../src/assets/image/casc.png"
              alt=""
            />
            <div class="activity__description">
              Восстановление униформы и амуниции солдат Красной Армии и солдат
              Вермахта
            </div>
          </div>

          <div class="activity__block">
            <img
              class="activity__icon"
              src="../src/assets/image/airplan.png"
              alt=""
            />
            <div class="activity__description">
              Организация военно-исторической реконструкции
            </div>
          </div>

          <div class="activity__block">
            <img src="../src/assets/image/tank.png" alt="" />
            <div class="activity__description">
              Участие в выездных военно-патриотических мероприятиях
            </div>
          </div>

          <div class="activity__block">
            <img src="../src/assets/image/worldmap.png" alt="" />
            <div class="activity__description">
              Военно-патриотическое воспитание молодежи и современного общества
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>

<section class="participants">
  <div class="participant__title">
    <div class="partic__titleOne">Наши</div>
    <div class="partic__titleTwo">Участники</div>
  </div>
  <div>
    <TeamLayout/>
  </div>
</section>

<section class="news">
  <img class="news__banner" src="../src/assets/image/news_banner.png" alt="" />
  <div class="container">
    <div class="news__content">
      <div class="news__titles">
        <div class="news__titleOne">Гланые</div>
        <div class="news__titleTwo">Новости</div>
      </div>
      <div class="news__cards">
        <div class="new__card">
          <div class="news__card-img">
            <button class="new__btn">Читать</button>
          </div>
          <div class="new-card__content">
            <div class="new-card__title">
              Lorem ipsum dolor sit amet consectetur
            </div>
            <div class="new-card__description">
              Lorem ipsum dolor sit amet consectetur. Amet pellentesque sed sem
              gravida sociis faucibus suspendisse.
            </div>
          </div>
        </div>
        <div class="new__card">
          <div class="news__card-img">
            <button class="new__btn">Читать</button>
          </div>
          <div class="new-card__title"></div>
          <div class="new-card__description"></div>
        </div>

        <div class="new__card">
          <div class="news__card-img">
            <button class="new__btn">Читать</button>
          </div>
          <div class="new-card__title"></div>
          <div class="new-card__description"></div>
        </div>
      </div>
      <a href="/news">
        <div class="btn__fullnews">
          <div class="fullnews__title">Читать все новости</div>
          <span class="fullnews__arrow"
            ><img src="../src/assets/image/arrow-more.png" alt="" /></span
          >
        </div>
      </a>
    </div>
  </div>
</section>

<section class="exhibition">
  <div class="container">
    <div class="ex__cardbackground">
      <div class="exhibition__card">
        <div class="exhibition__title">
          <div class="ex-title__textOne">Музейная</div>
          <div class="ex-title__textTwo">Выставка</div>
        </div>
        <div class="exhibition__content">
          <div class="ex-content__left">
            <img src="../src/assets/image/ex-cask.png" alt="" />
          </div>
          <div class="ex-content__right">
            <div class="ex__text">
              Lorem ipsum dolor sit amet consectetur. Faucibus tortor tristique
              at sit nunc fringilla faucibus. Est ac sed sit pharetra turpis.
              Sed sagittis diam duis varius adipiscing. Ornare morbi quis
              rhoncus cras varius pellentesque justo vitae feugiat. Sagittis
              montes tortor consectetur eu felis ipsum gravida. Vitae nisl
              malesuada duis lectus pharetra nec donec ut aliquam.
            </div>
            <div class="bottom__content">
              <button class="ex__btn">Запись на посещение</button>
              <div class="fullex__btn">
                <button class="fullex__btn-text">Подробнее о музее</button>
                <div class="fullex__arrow"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gallery">
  <div class="fullgl__btn">Смотреть всю галерею</div>
  <span class="fullgl__arrow">
    <img src="../src/assets/image/arrow-more.png" />
  </span>
</section>

<section class="investors"></section>

<section class="footer">
  <div class="footer_container">
    <div class="footer__title-container">
      <div class="footer__title">Сибирский рубежъ</div>
      <div class="footer__date">2024</div>
    </div>
    <div class="footer__menu">
      <ul class="ul__footer">
        <li>Участники</li>
        <li>Галерея</li>
        <li>Новости</li>
      </ul>
      <ul class="ul__footerTwo">
        <li>Выставка</li>
        <li>Документы</li>
        <li>Партнеры</li>
      </ul>
    </div>
    <div class="footer__numbers">
      <ul>
        <li>+79088755347</li>
        <li>+79088755347</li>
      </ul>
    </div>
    <div class="footer__social">
      <ul>
        <li>noah.thompson@example.com</li>
        <li>noah.thompson@example.com</li>
      </ul>
      <div class="social">
        <img src="" alt="" class="icon-vk" />
        <div class="social__title">Группа ВК</div>
      </div>
    </div>
  </div>
</section>

<style></style>
