---
import "@/assets/styles/index.scss";
---

<script is:inline lang="js">
  //1412
  function scrollToCoordinates(x, y) {
    window.scrollTo({
      top: y,
      left: x,
      behavior: "smooth",
    });
  }
</script>

<header class="header">
  <nav class="navigation">
    <ul class="navigation__list">
      <li>
        <a href="#" id="scrollButton" onclick="scrollToCoordinates(0, 1412)"
          >Участиники</a
        >
      </li>
      <li><a href="/gallery">Галерея</a></li>
      <li><a href="/news">Новости</a></li>
      <li><a href="/museum">Выставка</a></li>
      <li><a href="/documents">Документы</a></li>
      <li><a href="/investors">Партнеры</a></li>
    </ul>
    <span class="navigation__underline"></span>
  </nav>
</header>

<style lang="scss" scoped>
  .header {
    height: 35px;
    padding-bottom: 17.2%;
    margin-top: 3.994%;

    font-family: Roboto;
    font-size: 15px;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  .navigation__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 157px;
  }

  a {
    color: #fff8f0;
  }

  .navigation__list > li {
    color: #fff8f0;
  }

  .navigation__underline {
    border-bottom: 1px solid #fff8f0;
    width: 95.5%;
  }
</style>
