---
import NewsSwiper from "../MobileSwiperNews/SwiperNews";
import "@styles/news_swiper.scss";
---

<section id="mobile__news">
</section>

<style lang="scss" scoped>
  #mobile__news {
    background-image: url("/public/mobile-news-banner.png");
  }
</style>
