---

---

<footer class="footer">
  <div class="footer_container">
    <div class="footer__title-container">
      <div class="footer__title">Сибирский рубежъ</div>
      <div class="footer__date">2024</div>
    </div>
    <div class="footer__menu">
      <ul class="ul__footer">
        <li>Участники</li>
        <li>Галерея</li>
        <li>Новости</li>
      </ul>
      <ul class="ul__footerTwo">
        <li>Выставка</li>
        <li>Документы</li>
        <li>Партнеры</li>
      </ul>
    </div>
    <div class="footer__numbers">
      <ul>
        <li>+79088755347</li>
        <li>+79088755347</li>
      </ul>
    </div>
    <div class="footer__social">
      <ul>
        <li>noah.thompson@example.com</li>
        <li>noah.thompson@example.com</li>
      </ul>
      <div class="social">
        <img src="" alt="" class="icon-vk" />
        <div class="social__title">Группа ВК</div>
      </div>
    </div>
  </div>
</footer>
