---
import "@/assets/styles/index.scss";
---

<footer class="footer">
  <div class="footer_container">
    <div class="footer__title-container">
      <div class="footer__title">Сибирский рубежъ</div>
      <div class="footer__date">© 2024</div>
    </div>
    <div class="footer__menu">
      <ul class="ul__footer">
        <li>Участники</li>
        <li>Галерея</li>
        <li>Новости</li>
      </ul>
      <ul class="ul__footerTwo">
        <li>Выставка</li>
        <li>Документы</li>
        <li>Партнеры</li>
      </ul>
    </div>
    <div class="footer__numbers">
      <ul>
        <li>+7 (920) 856-1755</li>
        <li>+7 (912) 995-4968</li>
      </ul>
    </div>
    <div class="footer__social">
      <ul>
        <li>maksimovich-1972@mail.ru</li>
        <li>sss72tas@rambler.ru</li>
      </ul>
      <div class="social">
        <img src="" alt="" class="icon-vk" />
        <a href="https://vk.me/join/_vD/uzjn_xrh1U0gbnMSSYct5J_Ely3mChU=">
          <div class="social__title">Группа ВК</div>
        </a>
      </div>
    </div>
  </div>
</footer>
