---
import "@/assets/styles/index.scss";
---

<footer class="footer">
  <div class="footer_container">
    <div class="footer__title-container">
      <div class="footer__title">Сибирский рубежъ</div>
      <div class="footer__date">© 2024</div>
    </div>
    <div class="footer__menu">
      <ul class="ul__footer">
        <li>Участники</li>
        <li>Галерея</li>
        <li>Новости</li>
      </ul>
      <ul class="ul__footerTwo">
        <li>Выставка</li>
        <li>Документы</li>
        <li>Партнеры</li>
      </ul>
    </div>
    <div class="footer__numbers">
      <ul>
        <li>+7 (920) 856-1755</li>
        <li>+7 (912) 995-4968</li>
      </ul>
    </div>
    <div class="footer__social">
      <ul>
        <li>maksimovich-1972@mail.ru</li>
        <li>sss72tas@rambler.ru</li>
      </ul>
      <div class="social">
        <img src="" alt="" class="icon-vk" />
        <a href="https://vk.me/join/_vD/uzjn_xrh1U0gbnMSSYct5J_Ely3mChU=">
          <div class="social__title">Группа ВК</div>
        </a>
      </div>
    </div>
  </div>
</footer>

<style lang="scss" scoped>
  @media (min-widht: 1500px) {
    .footer {
      border: 1px solid #1c1c1c;
      background-color: #1c1c1c;
      background-size: cover;
      width: 100%;
      font-family: Roboto, sans-serif;
      .footer_container {
        height: 146px;
        margin: 80px auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 188px;
      }
    }

    .footer__title-container {
      margin: 29px 0;
      color: white;
      display: flex;
      flex-direction: column;
      gap: 25px;
      .footer__title {
        width: 135px;
        font-family: "Wadik";
        font-weight: 700;
        font-size: 15px;
      }

      .footer__date {
        font-family: Roboto;
        font-weight: 400;
        margin-left: 10%;
      }
    }

    .footer__menu {
      font-family: Roboto, sans-serif;
      display: flex;
      flex-direction: row;
      gap: 130px;

      margin-top: 6px;
      .ul__footer {
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
      .ul__footerTwo {
        color: white;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 30px;
      }
    }

    .footer__numbers {
      margin: 35px 0;
      ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
        list-style: none;
        color: white;
      }
    }

    .footer__social {
      display: flex;
      flex-direction: column;
      gap: 28px;
      color: white;
      ul {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }
    }
  }
</style>
