.home{
    background: url('../img/background-home.png');
    background-size: cover;
}

@media (max-width: 1455px) {
    .home{
        height: 800px;

        padding: 0 calc(50% - 990px); 
        
    }

    .home__container{

        display: flex;
        flex-direction: column;
        gap: 235px;

    }

    .title{
        width: 1242px;
        height: 75px;

        margin: 160px 0 0 95px;

        font-family: 'Wadik';
        font-style: normal;
        font-weight: 700;
        font-size: 73px;
        line-height: 119.98%;

        color: rgba(218, 194, 182, 0.23);
        
        background: linear-gradient(7.14deg, rgba(218, 194, 182, 1), rgba(255, 245, 235, 100));
        background-clip: text;

        text-shadow: -5px 9px 4px rgba(0, 0, 0, 0.25);
    }


    .content__text{
        display: flex;
        flex-direction: column;
        gap: 80px;

        .content__name{
            max-width: 262px;
            height: 40px;

            margin-left: 100px;

            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 135%;
            letter-spacing: 0.08em;
            color: rgba(255, 245, 235, 0.9);
        }

        .content__description{
            max-width: 440px;
            height: 72px;

            margin-left: 100px;

            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 135%;
            letter-spacing: 0.08em;
            color: #FFF5EB;
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
        }

        
    }

    .content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .content__solider{
            .solider{
                position: absolute;
                top: 260px;
                left: 576px;
            }
        }

        .content__video{
            display: flex;            
            flex-direction: row;

            width: 350px;
            height: 200px;

            margin: 0 101px 81px 0;

            border-radius: 5px;

            background-image: url(../img/video.png);

            .play__icon{
                width: 30px; 
                height: 35px; 

                margin: 148px 0 17px 25px;

                &:hover{
                    cursor: pointer;
                }
            }



            .video__text{
                width: 135px;
                height: 14px;

                margin: 160px 20px 20px 140px;

                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                leading-trim: both;
                text-edge: cap;
                letter-spacing: 0.05em;
                text-transform: uppercase;

                color: #FFF5EB;

                text-shadow: -3px -3px 4px rgba(0, 0, 0, 0.5), 3px 3px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }
}