---
import MySwiper from "../components/Swiper/Swiper";
import "../assets/styles/swiper.scss";
---

<section class="team">
  <div class="team__swiper_content">
    <div class="btn-next"></div>
    <div class="team__swiper">
      <MySwiper client:load />
    </div>
  </div>
</section>
