---
component: FormSubmit;
---

<form
  on:soubmit={handleSubmit}
  method="POST"
  action="http://localhost:4000/test"
>
  <input type="text" name="username" />
  <input type="password" name="password" />
  <button type="submit">Submit</button>
</form>

<script>
  export function handleSubmit(event) {
    event.preventDefault();
    const formElement = event.target;
    const formData = new FormData(formElement);

    fetch(formElement.getAttribute("action"), {
      method: formElement.getAttribute("method"),
      body: formData,
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.text();
      })
      .then((data) => {
        console.log(data);
      })
      .catch((error) => {
        console.error(
          "There has been a problem with your fetch operation:",
          error
        );
      });
  }
</script>
