---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="postForm">
  <body>
    <script>
      document.querySelector("button")?.addEventListener("click", async () => {
        await fetch("/api/post.json", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({})
        });
      });
    </script>
   
   <button>send post</button>
  </body>
</Layout>
