---
import "./post.mjs";
---

<form on:submit="{handleSubmit}">
  <meta charset="UTF-8" />
  <label>
    Title:
    <input type="text" bind:value="{formData.Title}" />
  </label>

  <label>
    Description:
    <input type="text" bind:value="{formData.Description}" />
  </label>

  <label>
    Post Body:
    <textarea bind:value="{formData.PostBody}"></textarea>
  </label>

  <button type="submit">Submit</button>
</form>
